<%= form_for(@dosage_form) do |f| %>
  <% if @dosage_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dosage_form.errors.count, "error") %> prohibited this dosage_form from being saved:</h2>

      <ul>
      <% @dosage_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dosage_type %><br>
    <%= f.text_field :dosage_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
